body {
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 113px;
}

.main .title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 42px;
  color: rgba(76, 64, 83, 1);
  margin-bottom: 131px;
}

.main .block {
  grid-gap: 42px;
}

.main .content {
  max-width: 753px;
}

.main .content .content-title {
  margin-bottom: 27px;
}

.main .content .content-title .content-user-block {
  grid-gap: 34px;
}

.main .content .content-title .content-user-block .user {
  grid-gap: 16px;
}

.main .content .content-title .content-user-block .user span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 27px;
  color: rgba(55, 49, 58, 1);
}

.main .content .content-title .content-user-block .tags {
  grid-gap: 12px;
}

.main .content .content-title .content-user-block .tags .tag {
  width: 117px;
  height: 37px;
  border-radius: 19px;
  background: rgba(245, 241, 248, 1);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 21px;
  color: rgba(76, 64, 83, 1);
}

.main .content .content-title .date {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 18px;
  color: rgba(55, 49, 58, 1);
}

.main .content .desc {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 26.06px;
  color: rgba(55, 49, 58, 1);
  margin-bottom: 57px;
}

.main .content .readmore {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.7px;
  line-height: 23px;
  color: rgba(76, 64, 83, 1);
  grid-gap: 18px;
  margin-bottom: 32px;
}

.main .content .readmore img {
  width: 17px;
}

.main .content .share .share-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 21px;
  color: rgba(55, 49, 58, 1);
  grid-gap: 5px;
  margin-bottom: 27px;
}

.main .content .share .share-title img {
  width: 12px;
  height: 14px;
}

.main .content .share .images {
  margin-bottom: 43px;
}
