body {
  margin: 0;
  padding: 0;
}

.main {
  grid-gap: 167px;
  padding-top: 75px;
  background: linear-gradient(
    180deg,
    rgba(255, 246, 229, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.main .left {
  margin-top: 99px;
}

.main .left .title {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1.38px;
  line-height: 63px;
  color: rgba(76, 64, 83, 1);
}

.main .left .subtitle {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2.1px;
  line-height: 29px;
  color: rgba(55, 49, 58, 1);
}

.main .left button {
  width: 142px;
  height: 45px;
  border-radius: 28px;
  background: rgba(76, 64, 83, 1);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  outline: none;
  margin-bottom: 100px;
}
